#imgCanvas {
	padding: 5px;
}
#imgArea {
	padding: 10px;
	color: red;
}

#previewArea {
	padding: 10px;
	background: black;
}

.rounded {
	border-radius: 10px;
}

li {
	font-size: 32px;
}
footer {
	bottom: 0;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	margin-top: 15px;
	border-top: 1px solid #ccc;
	width: 100%;
}